@page
@model webapp.Pages.Salee.DeleteModel

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć tą sale?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.ilosc_miejsc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.ilosc_miejsc)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sale.nr_sali" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-page="./Index">Powrót do listy</a>
    </form>
</div>
